<h2>Perlでデータベースから最大最小平均値を取得しよう</h2>

Perlでデータベースから最大最小平均値を取得してみましょう。PerlのDBIモジュールを使って、<a href="https://mariadb.perlzemi.com/">MariaDB</a>データベースのSQLで作成した統計データを取得しています。

<pre>
use strict;
use warnings;
use DBI;

my $dbh = DBI->connect(
  "DBI:mysql:kimotosystem:localhost",
  "kimoto",
  "kimoto"
) or die "cannot connect to MySQL: $DBI::errstr";

my $sth = $dbh->prepare("SELECT min(price), max(price), avg(price) FROM kimotosystem.book;");
$sth->execute();

my $hash_ref = $sth->fetchrow_hashref;
print "min=$hash_ref->{'min(price)'}, max=$hash_ref->{'max(price)'}, avg=$hash_ref->{'avg(price)'}\n";

$sth->finish;
$dbh->disconnect;
</pre>
