<h2>SQLで月毎の売り上げを集計してみよう</h2>

SQLで月毎の売り上げを集計してみましょう。テーブル作成、データを挿入をし、SQLで月毎の売り上げを集計します。

※データベースは、<a href="https://datascience.perlzemi.com/blog/20200926125437.html">こちら</a>で作成したものを使用します。

<h3>テーブルの作成</h3>

テーブル名はsalesです。IDと販売日時と売り上げ価格のデータです。
<pre>
MariaDB [kimotosystem]>create table kimotosystem.sales
    -> (
    -> sales_id int AUTO_INCREMENT PRIMARY KEY,
    -> sales_datetime DATETIME, 
    -> sales_amount int
    -> );
Query OK, 0 rows affected (0.01 sec)

MariaDB [kimotosystem]>
MariaDB [kimotosystem]>desc kimotosystem.sales;
+----------------+----------+------+-----+---------+----------------+
| Field          | Type     | Null | Key | Default | Extra          |
+----------------+----------+------+-----+---------+----------------+
| sales_id       | int      | NO   | PRI | NULL    | auto_increment |
| sales_datetime | datetime | YES  |     | NULL    |                |
| sales_amount   | int      | YES  |     | NULL    |                |
+----------------+----------+------+-----+---------+----------------+
3 rows in set (0.01 sec)

</pre>

<h3>データの挿入</h3>

売り上げのデータをSQLのinsert文を使って挿入します。
<pre>
MariaDB [kimotosystem]>insert into kimotosystem.sales (sales_datetime, sales_amount) values ('2020-08-01 09:00:00', 4500),('2020-08-05 11:00:00', 2000),('2020-08-09 14:00:00', 3000),('2020-08-24 16:00:00', 5500);
Query OK, 4 rows affected (0.01 sec)
Records: 4  Duplicates: 0  Warnings: 0

MariaDB [kimotosystem]>insert into kimotosystem.sales (sales_datetime, sales_amount) values ('2020-09-02 10:00:00', 1000),('2020-09-07 12:00:00', 3000),('2020-09-11 15:00:00', 1500),('2020-09-26 16:00:00', 4000);
Query OK, 4 rows affected (0.00 sec)
Records: 4  Duplicates: 0  Warnings: 0

MariaDB [kimotosystem]>
MariaDB [kimotosystem]>select * from kimotosystem.sales;
+----------+---------------------+--------------+
| sales_id | sales_datetime      | sales_amount |
+----------+---------------------+--------------+
|        1 | 2020-08-01 09:00:00 |         4500 |
|        2 | 2020-08-05 11:00:00 |         2000 |
|        3 | 2020-08-09 14:00:00 |         3000 |
|        4 | 2020-08-24 16:00:00 |         5500 |
|        5 | 2020-09-02 10:00:00 |         1000 |
|        6 | 2020-09-07 12:00:00 |         3000 |
|        7 | 2020-09-11 15:00:00 |         1500 |
|        8 | 2020-09-26 16:00:00 |         4000 |
+----------+---------------------+--------------+
8 rows in set (0.00 sec)
</pre>

<h3>SQLで月毎の売り上げを集計する</h3>

select文とGROUP BY句と集計関数を用いて月毎の売り上げを求めます。
sales_datetimeはdatetime型の列のため、date_format関数を利用し'YYYY-MM'の形式にしてgroup byによる集計を行います。
<pre>
MariaDB [kimotosystem]>select
    ->   date_format(sales_datetime, '%Y-%m') as sales_month, sum(sales_amount) as amount 
    -> from
    ->   kimotosystem.sales
    -> group by date_format(sales_datetime, '%Y-%m');
+-------------+--------+
| sales_month | amount |
+-------------+--------+
| 2020-08     |  15000 |
| 2020-09     |   9500 |
+-------------+--------+
2 rows in set (0.00 sec)
</pre>

