<h2>データサイエンスには専用のツールやライブラリが必要ですか?</h2>

データサイエンスには、専門のツールや、ライブラリが必要と誤解されている方も多いようです。

「データサイエンスにはPythonのnumpyが必要なんじゃないの?」

Perlで学ぶデータサイエンス入門では、実例を紹介しながら、実際に、専用のツールやライブラリなしで、データサイエンスが可能なことを示します。

<h3>データ分析にはプログラミングの基本的な文法を使う</h3>

データサイエンスとして、合計、累積、平均、最大、最小、確率など求めるには、プログラミング言語の基本的な文法で可能です。

複数フィールドの並び替え、NaN値の除去、回帰分析など、統計処理でよく使われることも、プログラミングの基本的な文法で可能です。

ピボットテーブルによる集計も、Perlの多次元データ構造を使えば、表現可能です。

<h3>データ可視化はJavaScriptのグラフライブラリ</h3>

唯一ライブラリが必要だとすれば、データを可視化する分野でしょう。この分野のライブラリとして、Webのフロントエンドで動作し、インタラクティブで、グラフライブラリも豊富なJavaScriptを使うことが、ひとつの選択肢です。

サーバー側で行われたデータ分析の結果を、クライアント側に渡して、JavaScriptのライブラリを使って、グラフを描画する方法を解説します。

サーバー側からクライアント側でデータを渡す方法も<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>を使って解説します。
