<h2>gnuplotで折れ線グラフを作ってみよう</h2>

gnuplotを使って折れ線グラフを作成し、画像ファイルとして保存します。以下のグラフの作成を目標にします。

<img src="/images/chart/20210325002411_1.png" />

<h3>gnuplotを準備する</h3>
MacではHomebrewを使うことで簡単にインストールすることができます。
インストール方法/簡単な使い方は<a href="/blog/20201129185816.html">こちら</a>

<h3>折れ線グラフを作成する</h3>

<h4>データを準備する</h4>
sample-line.datというファイル名で保存しました。
<pre>
1 "2016年" 2850
2 "2017年" 3240
3 "2018年" 3540
4 "2019年" 3630
5 "2020年" 4980
</pre>

<h4>棒グラフを出力を画像として保存する</h4>
以下のようなファイルをpng_plot-lines.txtとして保存します。
また、グラフのフォーマットも指定してみました。

<pre>
set terminal png font "Sans,9"
set output 'test-line.png'
unset key
set title '年別の売り上げ額'
set ylabel '(円)'
# 以下数値の桁区切り
set format "%'.0f"
set decimalsign locale; set decimalsign "."

plot [][0:] 'sample-line.dat' using 1:3:xtic(2) with lines
</pre>

以下のコマンドで折れ線グラフを出力します。
<pre>
$ gnuplot png_plot-lines.txt
</pre>


目標のような画像"test-line.png"は保存されましたでしょうか？
plotのオプションを修正することで折れ線グラフ(with lines)にすることができます。
