<h2>Perlで学ぶデータサイエンス入門</h2>

Perlで学ぶデータサイエンス入門です。ビジネスで頻繁に必要とされる簡単な計算・統計からスタートしましょう。

<h3>データサイエンスには専用のツールや、ライブラリが必要ですか?</h3>

データサイエンスには、専門のツールや、ライブラリが必要と誤解されている方も多いようです。

「データサイエンスにはPythonのnumpyが必要なんじゃないの?」

Perlで学ぶデータサイエンス入門では、実例を紹介しながら、実際に、専用のツールやライブラリなしで、データサイエンスが可能なことを示します。

データサイエンスとして、合計、累積、平均、最大、最小、確率など求めるには、プログラミング言語の基本的な文法で可能です。

複数フィールドの並び替え、NaN値の除去、回帰分析など、統計処理でよく使われることも、プログラミングの基本的な文法で可能です。

ピボットテーブルによる集計も、Perlの多次元データ構造を使えば、表現可能です。

唯一ライブラリが必要だとすれば、データを可視化する分野でしょう。このライブラリについても、近いうちに、紹介できればと思います。

<h3>金額計算</h3>

<ul>
  <li><a href="/blog/20200303101834.html">1000円未満を切り捨てる端数処理</a></li>
  <li><a href="/blog/20200302101834.html">100円未満を切り捨てる端数処理</a></li>
  <li><a href="/blog/20200305122658.html">小数点以下の金額を切り捨てる</a></li>
  <li><a href="/blog/20200301101834.html">小数点以下の金額を切り上げる</a></li>
</ul>




