<h2>Perlで学ぶビジネスデータ分析</h2>

Perlで学ぶビジネスデータ分析の入門です。ビジネスで頻繁に必要とされる簡単な計算・統計からスタートしましょう。

<iframe width="560" height="315" src="https://www.youtube.com/embed/6_bFmnQEqEA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

ビジネスデータを分析できるデータサイエンティストになるための基礎的な内容です。

<h3>初めての方へ</h3>

<ul>
  <li><a href="/blog/20200504151304.html">データサイエンスには専用のツールやライブラリが必要ですか?</a></li>
</ul>

<h3>統計の基礎</h3>

<ul>
  <li><a href="/blog/20200328191109.html">最大値を求めてみよう</a></li>
  <li><a href="/blog/20200531164942.html">最小値を求めてみよう</a></li>
  <li><a href="/blog/20200607185224.html">平均値を求めてみよう</a></li>
  <li><a href="/blog/20200613103925.html">中央値を求めてみよう</a></li>
  <li><a href="/blog/20200906145759.html">標準偏差を求めてみよう</a></li>
</ul>

<h3>SQLを使ったデータ分析</h3>

<ul>
  <li><a href="/blog/20200926125437.html">SQLで最大最小平均値を求めてみよう</a></li>
  <li><a href="/blog/20200928022913.html">Perlでデータベースから最大最小平均値を取得しよう</a></li>
  <li><a href="/blog/20201004210949.html">SQLで月毎の売り上げを集計してみよう</a></li>
</ul>

<h3>金額計算</h3>

<ul>
  <li><a href="/blog/20200303101834.html">1000円未満を切り捨てる端数処理</a></li>
  <li><a href="/blog/20200302101834.html">100円未満を切り捨てる端数処理</a></li>
  <li><a href="/blog/20200305122658.html">小数点以下の金額を切り捨てる</a></li>
  <li><a href="/blog/20200301101834.html">小数点以下の金額を切り上げる</a></li>
  <li><a href="/blog/20200306095029.html">日割り計算を行う</a></li>
</ul>
